.element_example {
    width: 200px;
    height: 200px;
    color: #ffffff;
}

.element_example_first {
    background-color: red;
    float: right;
}

.element_example_second {
    background-color: blue;
    float: right;
}


