.example {
    text-align: justify;
}

.example-item {
    width: 25%;
    height: 200px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
    display: inline-block;
}

.example-item-first {
    background-color: #a52a2a;
    
}

.example-item-second {
    background-color: #8b008b;
}

.example-item-third {
    background-color: #000000;
}

.example:after {
    display: inline-block;
    content: '';
    width: 100%;
}